body {
	font-family: 'Nunito', sans-serif;
	
	background: #FF0000;
}

.container {
	background-color: white;
	padding: 10px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

a {
	color:#FF0000;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.5em;
	color: brown;
}

.btn {
	color: white;
	background: #FF0000;
	padding: 15px 30px;
	border-radius: 25px;
	margin: 40px 0px;
	text-transform: uppercase;
}

.btn:hover {
	background-color:brown;
}

#logo {
	margin-left: 50px;
}

ul.nav {
	margin: 90px 100px 0 0;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-right: 40px;
}

ul.nav li a {
	color: #FF0000;
	font-size: 25px;
}

ul.nav li a:hover {
	color: brown;
}

#intro {
	margin: 20px 0 60px 0;
	clear: both;
}

#intro h1 {
	margin-right: 50px;
}

#new-cupcakes img {
	border: 3px solid #FF0000;
	margin: 0 0 5px 0;
	border-radius: 5px;
}

#featured-cupcake img {
	border: 5px solid #FF0000;
	border-radius: 7px;
}

#copyright {
	border-top: 8px solid #FF0000;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}

#selfpic img {
	margin-top: 20px;
	border: 3px solid #FF0000;
	padding-bottom: 0px;
	border-radius: 5px;
}
